{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}

<!-- subscriptions? -->
<div class="container">
{% for tier in object.tiers.all %}
  <div class="row">
    <div class="col-md-4">
      {{ tier.name }}
    </div>
    <div class="col-md-4">
      {{ tier.amount }}
    </div>
    <div class="col-md-4">
      <button onclick="subscribe('{{ object.username }}', {{ tier.amount.amount }})">
        Subscribe
      </button>
    </div>
  </div>
{% endfor %}
</div>

</div>
{% endblock content %}
