// TODO: remove
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@mixin scrollbar($color: $primary-opacity) {
  /* Works on Firefox */
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  transition: all 0.3 ease;

  /* Works on Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    @apply w-1.5 h-1.5;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-transparent rounded-md;

    transition: all 0.3 ease;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: $color;
    }

    scrollbar-color: $color transparent;
  }
}

.scrollbar {
  @include scrollbar(#aaa);
}


@layer base {
  body {
    @apply font-body text-body underline-offset-4;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply text-title;
  }
}

a:not(.unstyled) {
  @apply text-fm-primary hover:text-fm-primary-600;
}
