www.fanmo.in {
	redir https://fanmo.in{uri}
}

fanmo.in {
  request_header +X-Forwarded-Proto https
  request_header +X-Forwarded-For {http.request.remote}
  header {
    -server

    # enable HSTS
    Strict-Transport-Security max-age=31536000;

    # disable clients from sniffing the media type
    X-Content-Type-Options nosniff

    # clickjacking protection
    X-Frame-Options SAMEORIGIN

    # keep referrer data off of HTTP connections
    Referrer-Policy no-referrer-when-downgrade
  }

  # Send requests to app server.
  reverse_proxy 127.0.0.1:8000

  request_body {
    max_size 50MB
  }

  encode gzip
}
