<tr>
    <td class="text-center text-gray-600 text-xs px-24">
        <p class="m-0 mb-8 text-sm font-semibold text-black">Fanmo</p>
        <p class="m-0 mb-8">Need help? Email us on <a class="text-fm-primary-700 no-underline hover:underline" href="mailto:help@fanmo.in">help@fanmo.in</a>
        </p>
        <p class="cursor-default">
            <a href="https://fanmo.in/settings/" class="text-fm-primary-700 no-underline hover:underline">Unsubscribe</a> &bull;
            <a href="https://fanmo.in" class="text-fm-primary-700 no-underline hover:underline">Fanmo</a> &bull;
            <a href="https://twitter.com/getfanmo" class="text-fm-primary-700 no-underline hover:underline">Twitter</a>
        </p>
    </td>
</tr>
