---
title: "Welcome to Fanmo"
bodyClass: bg-gray-100
---

<extends src="src/layouts/main.html">
  <block name="template">
    <p class="text-2xl sm:leading-32 text-black font-semibold m-0 mb-24">Welcome to Fanmo!</p>
    <p>Fanmo is a platform for creators and supporters to stay in touch by offerring and joining memberships and one-time tips.</p>
    <p>Get started by activating your account by clicking the link below. Feel free to contact us at help@fanmo.in for any help.</p>
    <div class="leading-full">
      <component src="src/components/button.html" target="password_reset" args="user.email_base64" params="?s=1">Activate account</component>
    </div>
  </block>
</extends>