---
bodyClass: bg-gray-100
---

<extends src="src/layouts/main.html">
  <block name="template">
    <p class="text-xl sm:leading-32 text-black font-semibold m-0 mb-24">Hi @{{ obj.post.author_user.display_name }},</p>
    <p><strong>@{{ obj.author_user.display_name }}</strong> commented on <strong>@{{ obj.post.title }}</strong>.</p>
    <p>
    <blockquote>@{{ obj.body }}</blockquote>
    </p>
    <p class="m-0 mb-24">You can moderate this comment from the post page.</p>
    <div class="leading-full">
      <component src="src/components/button.html" target="post_detail" args="obj.post.slug obj.post.id">
        View Post
      </component>
    </div>
  </block>
</extends>