---
bodyClass: bg-gray-100
---

<extends src="src/layouts/main.html">
  <block name="template">
    <p class="text-2xl sm:leading-32 text-black font-semibold m-0 mb-24">Hi @{{ recipient.display_name }}!</p>
    <p>Your account was sucessfully processed and approved. You are all set to start accepting payments on your Fanmo page!</p>
    <p>Get started today by sharing your Fanmo page with your fans. Feel free to contact us at help@fanmo.in for any help.</p>
    <div class="leading-full">
      <component src="src/components/button.html" target="creator_dashboard" args="">View Dashboard</component>
    </div>
  </block>
</extends>
