---
bodyClass: bg-gray-100
---

<extends src="src/layouts/main.html">
  <block name="template">
    <p class="text-xl sm:leading-32 text-black font-semibold m-0 mb-24">Hi @{{ obj.fan_user.display_name }},</p>
    <p>
      You have sucessfully tipped <strong>@{{ obj.amount }}</strong> to <strong>@{{ obj.creator_user.display_name}}</strong>.
    </p>
    <p class="mb-10 mt-10">
    {% if obj.creator_user.user_preferences.thank_you_message %}
    <blockquote>@{{obj.creator_user.user_preferences.thank_you_message }}</blockquote>
    {% endif %}
    </p>
    <div class="leading-full">
      <component src="src/components/button.html" target="sent-donations" args="">
        View Donations
      </component>
    </div>
  </block>
</extends>