---
bodyClass: bg-gray-100
---

<extends src="src/layouts/creator.html">
  <block name="template">
    <p class="text-xl sm:leading-32 text-black font-semibold m-0 mb-24">Hi @{{ obj.fan_user.display_name }},</p>
    <p>
      You have sucessfully tipped <strong>@{{ obj.amount }}</strong> to <strong>@{{ obj.creator_user.display_name}}</strong>.{% if obj.post %} You have unlocked <strong>@{{ obj.post.title }}</strong> with this tip.{% endif %}
    </p>
    {% if obj.creator_user.user_preferences.thank_you_message %}
    <p><em>@{{ obj.creator_user.user_preferences.thank_you_message }}</em></p>
    {% endif %}
    <div class="leading-full mt-20 text-center">
      <component src="src/components/button.html" target="sent-tips" args="">
        View Tips
      </component>
    </div>
  </block>
</extends>
