---
bodyClass: bg-gray-100
---

<extends src="src/layouts/main.html">
  <block name="template">
    <p class="text-xl sm:leading-32 text-black font-semibold m-0 mb-24">Hi @{{ obj.fan_user.display_name }},</p>
    <p>
      Your membership with @{{ obj.creator_user.display_name }} has been cancelled due to repeated payment failure. 
    </p>
    </p>
      If you wish to continue the membership, please update your payment details on the membership page.
    </p>
    <div class="leading-full">
      <component src="src/components/button.html" target="memberships" args="">
        View Memberships
      </component>
    </div>
  </block>
</extends>