---
bodyClass: bg-gray-100
---

<extends src="src/layouts/main.html">
  <block name="template">
    <p class="text-xl sm:leading-32 text-black font-semibold m-0 mb-24">Hi @{{ obj.fan_user.display_name }},</p>
    <p>Your membership with @{{ obj.creator_user.display_name }} couldn't be renewed due to payment failure. We will
      retry the renewal on the next working day, please make sure payments are enabled on your Card, UPI or E-Mandate.</p>
    <p>If the payment continues to fail, your membership will be cancelled and require a payment update from you. If you
      think this was a mistake, please contact help@fanmo.in.</p>
    <div class="leading-full">
      <component src="src/components/button.html" target="memberships" args="">
        View Memberships
      </component>
    </div>
  </block>
</extends>