---
bodyClass: bg-gray-100
---

<extends src="src/layouts/main.html">
  <block name="template">
    <p class="text-xl sm:leading-32 text-black font-semibold m-0 mb-24">Hi @{{ obj.fan_user.display_name }},</p>
    <p><strong>@{{ obj.tier.name }}</strong> has been successfully activated.</p>
    <p>
      You will be charged @{{ obj.active_subscription.plan.amount }} per month.
      Your membership will automatically renew on @{{ obj.active_subscription.cycle_end_at|date:"d F Y" }}.
    </p>
    {% if obj.tier.welcome_message %}<p>@{{ obj.tier.welcome_user }}</p>{% endif %}
    <div class="leading-full mt-20">
      <component src="src/components/button.html" target="memberships" args="">
        View Memberships
      </component>
      </div>
  </block>
</extends>
