---
bodyClass: bg-gray-100
---

<extends src="src/layouts/creator.html">
  <block name="template">
    <p class="text-3xl text-black font-semibold m-0 mb-32 text-center leading-36">
      <a href="@{{ settings.BASE_URL }}{% url 'post_detail' obj.slug obj.id %}" class="text-black no-underline">@{{ obj.title }}</a>
    </p>
    {% if obj.can_access %}
      {% if obj.content.type == "text" %}
      <div class="post-body">@{{ obj.content.text|safe }}</div>
      {% elif obj.content.type == "link" %}
      <div>
        <div>@{{ obj.content.text|safe }}</div>
        <p><a href="@{{ obj.content.link }}">@{{ obj.content.link }}</a></p>
      </div>
      {% elif obj.content.type == "images" %}
      <div>
        <div class="mb-16">@{{ obj.content.text|safe }}</div>
        {% for file in obj.content.files.all %}
          <div class="mt-8 text-center">
          {% if file.type == "image" %}
          <img src="{% image_url file.image.thumbnail.990x600 %}" class="w-auto" />
          {% endif %}
          </div>
        {% endfor %}
      </div>
      {% endif %}
    {% else %}
      <p class="text-center"><em>Become a member to unlock this post.</em></p>
    {% endif %}
    <div class="leading-full mt-24 text-center">
      <component src="src/components/button.html" target="post_detail" args="obj.slug obj.id">View Post</component>
    </div>
  </block>
</extends>
