---
bodyClass: bg-gray-100
---

<extends src="src/layouts/main.html">
  <block name="template">
    <p class="text-2xl sm:leading-32 text-black font-semibold m-0 mb-24">Hi @{{ recipient.display_name }},</p>
    <p>Your password was has been successfully updated as per your request.</p>
    <p>The request was received from IP address @{{ user_ip }}.</p>
    <p>If you did not perform this action, please contact help@fanmo.in for securing your account.</p>
    <div class="leading-full">
      <component src="src/components/button.html" target="password_reset" args="recipient.email_base64" params="?s=1">Reset password</component>
    </div>
  </block>
</extends>
